[2015-09-21 10:20] DanVanAtta opened #1 "pls add more owners"
to start myself, red baron and veqryn

[2015-09-21 12:51] williamdekryger commented on #1
I agree that it would be helpful. Any problems with this idea? I'd sure be grateful...

[2015-09-23 19:11] veqryn commented on #1
Done. Dan, you are now an admin, and can add committers as you see fit.

[2015-09-23 19:11] #1 closed

[2015-10-08 10:50] williamdekryger opened #3 "Developer Documentation Page"
We recently removed the "Developers" page (e9697e1a95d0909359bb66d0c69d4341529cafaf). What was the intended replacement? Where should I send people who want to contribute, or even just run source? Do we need to write a new "Developers" page? @DanVanAtta specifically, since you wanted it removed...

[2015-10-08 19:11] DanVanAtta commented on #3
The how to contribute page IMO captures the intent of the developer section for the most part. That in combination with the README and wiki of the github site - and I think we should be covered.

The github site has and needs developer steps and documentation. So I'd like to avoid duplication of those links and materials between the website and github site. It would also be quite painful and not v

[2015-10-08 19:19] DanVanAtta opened #4 "Menu Bar links only work from the homepage"
From  http://triplea-game.github.io/

Click any of the menu bar links, like 'community' for example, the new URL is:
http://triplea-game.github.io/community/

Now click the same link again, or any of the menu bar links, and you get a 404. The URL is now:
http://triplea-game.github.io/community/community

[2015-10-08 19:21] DanVanAtta opened #5 "Improve the Aesthetic and Cohesion of Download Button in the Title Bar"
The 'download' button in the menu bar I think is the same button from the home page. Those two buttons being similar is a very good thing, but it does seem to me like that button is not quite right for the menu bar. Perhaps just making it a bit smaller would help.

My issue is that it does not look very cohesive, it does not look like the red download button belongs, or is even really a part of th

[2015-10-08 19:26] DanVanAtta opened #6 "Create a Dedicated Download Page with Direct Download Links"
Instead of shelling the user out to the github page, as previously discussed between myself and @williamdekryger, let's create a dedicated download page that has direct links for the OS specific installers. For now the links will be hard coded until we can update the game engine release process to produce static download links.

[2015-10-08 19:55] williamdekryger commented on #6
Right. This is first on my todo list, actually. Put in any things you want on that page that have not already been discussed.

[2015-10-08 19:58] williamdekryger commented on #4
Ah. Thanks for the heads-up. I had to change a bunch of permalink stuff to get the site ready for pruduction. I will look into this. It is an issue on each page, to be precise, and it breaks images on the subpages as well. Should be a missing trailing slash somewhere...

[2015-10-08 19:59] williamdekryger commented on #5
I agree this could be an issue. I will play with different styles this weekend, unless you had something specifi in mind (e.g. live on another site).

[2015-10-08 20:01] williamdekryger commented on #3
Got it. So we're linking to the Github wiki, then? If so, I should put a footer link...What wiki pages do you have in mind to link to for new devs?

[2015-10-08 20:12] williamdekryger commented on #4
Fixed in 202b9e05155075eb88bcf0b6412b57c0c4b3ab78.

[2015-10-08 20:12] #4 closed

[2015-10-08 20:33] DanVanAtta commented on #3
Link to the main page please.
I'd like for the github readme to have the wiki links and the next steps. We do have some work to do on the GitHub side to get the documentation cleaned up, organized and linked.

[2015-10-08 20:35] DanVanAtta commented on #6
For now, the requirements list I can think of:
- game download links
- game manual download link, or link to view the game manual (linking to it rather than downloading probably preferable)
- Mac installation instructions, notably the notes about us not having an apple developer ID and an apple using needing to allow installation from anywhere and not just content that has an apple developer ID.

[2015-10-09 01:40] DanVanAtta opened #7 "Buy a Domain?"
It would be pretty sweet to have a domain name for tripleA.

Some immediate steps:
- [ ] agreeing to buy a domain
- [ ] estimating yearly cost
- [ ] picking a name (use the gitter website channel for this pls)

[2015-10-09 08:06] DanVanAtta opened #8 "Google search console access"
Send me (via gitter private message pls)  your email address if you want to be signed up to access google search console.

[2015-10-09 08:36] DanVanAtta opened #10 "add reviews to homepage?"
links to reviews on the bottom of the home page would be good I think. Perhaps some key quotes even from the reviews selling the game.

[2015-10-09 14:36] williamdekryger commented on #6
I made some mockups. First, we present the user with three large OS buttons:
![downloadoptions](https://cloud.githubusercontent.com/assets/5250014/10396569/cb42819c-6e92-11e5-8d59-15aad8e4676f.png)

When the user clicks on one, we begin the download and display installation instructions for their OS:

![macinstallationinstructions](https://cloud.githubusercontent.com/assets/5250014/10396590/f4e2f5

[2015-10-09 14:37] gaborbernat commented on #6
Looks great for me ;)

On 10/9/15, William DeKryger <notifications@github.com> wrote:

--
 Bernát Gábor
Student -  Budapest University of Technology and Economics - Computer
Engineering, M.Sc. - Budapest, Hungary
System Integrator - Gravity R&D | Rock Solid Recommendations - Budapest
office | 5-7 Expo ter | H-1101 | Budapest | Hungary

[2015-10-09 14:47] williamdekryger commented on #10
Ok, here are the reviews I know of:

- [Chip review of TripleA] (http://download.chip.eu/en/TripleA_175255.html)
- [ModDB review] (http://www.moddb.com/games/triplea/downloads/windows-installer-without-java)
- [BrotherSoft review] (http://games.brothersoft.com/triplea-for-linux.html)
- [SoftFiles review] (http://www.soft-files.com/game/triplea-with-java_1415.html)
- [CNet TripleA review] (http://d

[2015-10-09 14:49] gaborbernat commented on #6
As part of contract of using the install4j installer, we'll need to
add a link and a logo of install4j on the download page. Can you
extend your design with this? Maybe a little node below the three
installers?
Bernát GÁBOR

On Fri, Oct 9, 2015 at 4:37 PM, Gabor Bernat <bernat@primeranks.net> wrote:

[2015-10-09 14:57] williamdekryger commented on #6
@gaborbernat I can do that. Would you mind sending me the logo, as I can't seem to figure out which one I need to use?

[2015-10-09 15:24] williamdekryger commented on #5
How's this for a fix?

![smallerdlbutton](https://cloud.githubusercontent.com/assets/5250014/10397936/c75d9e70-6e99-11e5-8c8f-6904cd4f61b7.png)

[2015-10-09 18:12] DanVanAtta opened #11 "Map Detail Pages"
I just noticed, on some maps I would really want to look at the detail and analyze what for example the eastern europe situation would look like.

Seems like we should have a feature that if you click a map thumbnail, it shows a larger image (first version can be a link to a larger image version, but could be some nice jquery or html4 options too)

[2015-10-09 18:56] DanVanAtta commented on #6
### Button color / font:

I like the button on the far right best in terms of the background, text and image colors. I would suggest to *maybe* add a bevel or drop shadow to make it look a bit more clickable.

### Installation Instructions for each windows and Unix OS Missing

I think we need to have windows and linux installation instructions. It's a bit confusing, 3 buttons but only one set of i

[2015-10-09 18:57] DanVanAtta commented on #6
@williamdekryger  Overall - excellent start, things are shaping up nicely.

[2015-10-09 19:02] DanVanAtta commented on #6
@williamdekryger , crud, totally missed you would update the page with the right installation instructions. The above point above missing steps is completely irrelevant in that case.

[2015-10-09 19:07] DanVanAtta commented on #5
Interesting. I think now the buttons being different makes it seem like they might go to different places. It's something I had not expected. Perhaps that is something I need to just get over and it's just me.

I think it being off to the right is a pretty strong callout. I'm curious what would happen if it had the same font and color scheme as the rest of the header? I think that might be the way

[2015-10-09 20:26] williamdekryger commented on #6
@DanVanAtta: I will definitely play with the button styles a bit, perhaps even resorting to three columns, each with a button at the bottom. I will also want to consider a Grunt task to update the download links across the site with a single command. Does the Github API keep track of releases and their appropriate download links? On the game manual, I can definitely link to it, quote it, embed it,

[2015-10-09 20:30] williamdekryger commented on #5
Yeah, I always use the screenshots that make it look the most redundant, unfortunately. Frostion from the dev forum has frequently called me out on that *sigh* I may need to see if Jekyll supports having a homepage body class, so I can hide that button on the homepage.

[2015-10-09 20:31] #8 closed

[2015-10-09 20:36] williamdekryger commented on #11
True, maybe we should write a script that reads the XML to find starting unit positions and territory owners and compiles a starting scenario PNG...Totally random idea...Anyways, it would be relatively simple to have a darkbox with the map image zoomed at 100%, I don't know, just brainstorming. Other ideas?

[2015-10-09 21:35] DanVanAtta commented on #6
A couple lines of shell could likely be used to update the game site easily. Grunt is an option,  IMO overkill for the moment though. I agree though.

The game manual, IMO let's link to it for now.

[2015-10-09 21:43] DanVanAtta commented on #5
I wouldn't have the header button appear and reappear. Simply make it another header link? I'm quickly becoming more and more convinced that is the right way to go. We will have a dedicated download page, so it makes sense to have a header link to get there from any other page.

[2015-10-09 22:17] DanVanAtta opened #12 "mobile friendly"
Has anyone tested it? How are we?

"the site should be mobile friendly..." Veqryn Aug 30, 2015; 4:50pm

From: http://tripleadev.1671093.n2.nabble.com/TripleA-Website-Redesign-Migration-to-Github-Pages-tp7589306.html

[2015-10-09 22:19] DanVanAtta opened #13 "”Contribute Maps Documentation Community” thicker text"
" top ”Contribute Maps Documentation Community” should be thiker text if posible."

Frostion
Oct 08, 2015; 5:53am
http://tripleadev.1671093.n2.nabble.com/TripleA-Website-Redesign-Migration-to-Github-Pages-tp7589306p7589868.html

[2015-10-09 22:20] DanVanAtta opened #14 "more contast in metal bar and light grey text"
The buttom metal bar and light grey text should have more contrast. Maybe try out a darker metal background?

Frostion Reply
Oct 08, 2015; 5:53am

http://tripleadev.1671093.n2.nabble.com/TripleA-Website-Redesign-Migration-to-Github-Pages-tp7589306p7589868.html

[2015-10-09 22:21] DanVanAtta opened #15 "video directly embedded on website"
"I hope that the videos can someday be viewed on the website and not be links to YouTube. "

Frostion
Oct 08, 2015; 5:53am
http://tripleadev.1671093.n2.nabble.com/TripleA-Website-Redesign-Migration-to-Github-Pages-tp7589306p7589868.html

[2015-10-09 23:04] DanVanAtta commented on #6
An idea that came to me - fitting in with the page flow style. After the install instructions are posted, user clicks a button "okay, got it", then we show rule manual stuff?

[2015-10-09 23:06] DanVanAtta opened #16 "How to improve docs section?"
"Docs" as a title is a bit too technical for my taste, not quite specific, and often that place where people have left long detailed books that only the experts look at and understand.

As an idea, maybe split "docs" into two links, "help" and "game manual"?

"help" would have a link to:
- how to download and installer
- FAQ
- how to submit bug reports

[2015-10-09 23:09] DanVanAtta opened #17 "Bug Report Page - Clear and easy to access bug reporting instructions"
There is enough information and detail around bug reports that it could use it's own page. Maybe under website top level "help" category. IE:   http://triplea.../helps/ReportingBugs.html

Page would contain the details of what to include in the report, and then some links and maybe screenshots of actually how to submit the report.

I'm curious if others agree there is enough detail around bug repo

[2015-10-10 04:46] gaborbernat opened #18 "the logo on the left side should always take to the home page of the site"
I think this is the standard behavior, now it points to the page we already are at.

[2015-10-10 07:12] gaborbernat commented on #6
@williamdekryger

Here it is: http://assets-aws.ej-technologies.com/install4j-welcome-e899452710b795a2d81758653086f78e.png

I would envision a installers powered by install4j text on the bottom of the installers page, where the install4j would link to http://www.ej-technologies.com/products/install4j/overview.html. The logo could be added in there somewhere :thought_balloon:

[2015-10-10 09:28] williamdekryger commented on #18
Problem fixed in b132092a4d4c48c9ff405c475b7f6c1b02faca92.

[2015-10-10 09:28] #18 closed

[2015-10-10 09:29] williamdekryger commented on #17
How do we now want users to report bugs? Github issues?

[2015-10-10 09:49] williamdekryger commented on #14
I increased the contrast in b62fae95cd01a05e5f9d06cee43ca1b201e5fec4. Is that better?

[2015-10-10 10:16] williamdekryger commented on #13
I thickened and softened the text in a9b47001d19e9fae49a105b866edbc113c09b032. Please give your feedback.

[2015-10-10 10:17] williamdekryger commented on #12
Mobile support is definitely on the docket. It is a simple matter of a few CSS lines to force the columns in the footer, and on the contribute and community pages to line up under each other on smaller screens.

[2015-10-10 10:20] williamdekryger commented on #6
@DanVanAtta Such a button has occurred to me as well. It's mostly simple Javascript to hide and show elements, so should be easy.

@gaborbernat Ok, I'll work on that this weekend if I have time.

[2015-10-20 07:32] Silvergrail commented on #12
Do you mind if I give the mobile optimization a go, if the issues is still present of course? I'm new to Github but I've quite a bit of HTML5 and CSS especially with mobile friendliness as a priority :)

[2015-10-21 11:28] williamdekryger commented on #12
Yes, we are glad for any help. Try to keep code as small as possible, and keep stuff mainly CSS based, as you did on the menu. There are columns across the site on a few different pages (as well as in the footer) which need fixing in the same way as the menu. Other than that, does anyone see any other problems?

[2015-10-23 18:36] DanVanAtta opened #20 "Game Manual Available from Website"
Feature: Game manual available from the website

[2015-10-23 18:38] DanVanAtta commented on #3
So seems like we'll be using the how-to contribute page to send people directly to the triplea-game/triplea github website. Please re-open if any other action items are still outstanding.

[2015-10-23 18:38] #3 closed

[2015-10-23 18:38] DanVanAtta commented on #5
With the button recently made smaller it does look better.

[2015-10-23 18:38] #5 closed

[2015-10-23 18:43] DanVanAtta commented on #7
Raised in the game queue to veqryn and ron as: https://github.com/triplea-game/triplea/issues/249

[2015-10-23 18:43] #7 closed

[2015-10-23 18:44] DanVanAtta commented on #11
@williamdekryger , we've basically figured out we'll likely have the map images be links to 'map detail pages' right, instead of just larger image zooms?

[2015-10-23 18:55] DanVanAtta opened #21 "Mobile: Header takes up full screen, not obvious screen has changed"
With the header links taking up the whole screen, clicking any of the links except "Coummunity" and there are no visible changes to the page even though the page has changed.

The problem clearly stated is there is no feedback to notify the user the page has actually changed.

For me the header links are displayed in a single vertical column with plenty of white space padding. If instead they were

[2015-10-23 18:57] DanVanAtta opened #22 "Mobile: CSS changes need to fix scrunched links and overlap"
Footer needs some CSS work it looks like for mobile.

[2015-10-23 19:08] DanVanAtta commented on #17
Good question. My understanding is that sourceforge ticket queue is being viewed as legacy. Most of the instructions will be about what to include a bug report. For now IMO let's point people to github issues. Worst case we update it to refer folks to source forge.

[2015-10-23 19:16] #16 closed

[2015-10-23 19:38] DanVanAtta commented on #14
Let's cut a new issue if any additional changes are needed
https://github.com/triplea-game/triplea-game.github.io/issues/new

[2015-10-23 19:38] #14 closed

[2015-10-23 19:39] DanVanAtta commented on #13
Looks good to me

[2015-10-23 19:39] #13 closed

[2015-10-23 21:20] DanVanAtta commented on #10
The review links would be very good in an about page or something similar. On the home page I'm thinking we could have some screen grabs and/or quotes from some of the selected reviews.

[2015-10-23 21:24] DanVanAtta commented on #12
#22 and #21 are some more mobile bugs. It appears there is quite a bit of work to be done. Really appreciate the help. Please feel free to create new issues to track any problems you see, even if you don't plan on fixing them personally.

[2015-10-23 21:24] #12 closed

[2015-10-23 21:34] DanVanAtta commented on #6
@williamdekryger , apologies for giving such detailed scrutiny. There is a lot to do. I realize we need to be a bit more nimble and move faster. You've shown good judgement, IMO let's favor making a more progress over hashing out every detail. So essentially please consider feedback to be advisory, we'll explicitly call out anything that is a show stopper and perhaps submit a PR ourselves to fix i

[2015-10-23 21:35] DanVanAtta commented on #15
I think we'll likely be changing the docs page quite a bit. This would be a good feature to incorporate into that.

[2015-10-23 21:36] DanVanAtta commented on #6
Second thought, I'll leave closing this to @williamdekryger . Hope to see a PR soon, pls close when the time is appropriate. Sorry for the excessive emails to everyone..

[2015-10-23 22:01] FrostionAAA opened #24 "Favicon"
My first post on github =)

Regarding the website:
Why is there no favicon.ico? (The little icons used by the browsers) When I save the website link in my browser there is just a generic Internet Explorer icon. I think the favicon should just be placed at the website root where the index.html is.

One can make a favicon easily. Here a TripleA one that I made:
https://dl.dropboxusercontent.com/u/91

[2015-10-23 22:03] FrostionAAA opened #25 "Buttom menu text underline"
Regarding the website:
The buttom menu text turning red when “mouseover” is great. But have you tried to remove the underlines? The underline looks and seems unnecessary to me. Every one looking at the bottom of the page must know that it is full of links, especially if the person is mouseovering and the tekst turns red.

[2015-10-23 22:06] FrostionAAA opened #26 "Link length"
Regarding the website:
If you want to keep the bottom links uniform and as short as possible, you could rephrase ”Introduction to TripleA” to ” TripleA Introduction” and “Playing by Email and by Forum” to “Playing by Email and Forum” / “Playing by Email or Forum” (whatever is more correct). Especially the latter current link/phrase sticks out by being a bit long compared to the other links.

[2015-10-23 22:37] DanVanAtta opened #27 "Footer updates"
Ticket to discuss/track how to change the footer. In specific I think the links need re-organization.

For example the videos should likely be a section on a docs page, and a single link in the footer rather than a whole column.

Another example, expanding on the docs and have a "how to play" , "faq", "hosting a game" all spelled out in the footer would good.

Related to #26, while considering new

[2015-10-23 22:38] DanVanAtta commented on #26
Footer needs a number of updates IMO. I opened #27 to track changing the links themselves, I think the categories could be switched up and improved. Like for example expanding on the docs and have a "how to play" , "faq", "hosting a game" all spelled out in the footer would good.

[2015-10-23 22:39] DanVanAtta commented on #27
@williamdekryger I'm thinking of doing a first draft of this soon. Let me know if you get a chance to start work on this.

[2015-10-23 22:43] DanVanAtta commented on #24
The updates can be made. It seems odd the favicon is in a zip. Looks like a bit more research on exactly how to do it will be needed. Also seems like having the favicon ready will make it a quick task too - thanks : )

[2015-10-23 23:02] DanVanAtta commented on #24
Congrats @FrostionAAA

You'll be able to use the same login for the maps chat: https://gitter.im/triplea-maps/Project

The website chat room on gitter is currently locked to admins, I've asked @ron-murhammer if he can find a way to update that.

[2015-10-24 00:27] FrostionAAA commented on #24
I placed the files in zip. I could not post them any other way. They must not be in zip in when/if they are used on in the website dir.

[2015-10-24 00:34] DanVanAtta commented on #24
I think i'll have a chance later tonight to add the files, otherwise will be Monday if @williamdekryger  does not get to it faster.

FYI @FrostionAAA , if it interests you can create a fork which would allow you to directly suggest adding files. Once you've got a fork, follow these steps to get set up locally: https://github.com/triplea-maps/Project/wiki/Map-Makers:-Setup-Instructions, you'll be c

[2015-10-24 21:36] williamdekryger commented on #25
This is quite plausible. Any other people want to give an opinion?

[2015-10-24 21:38] williamdekryger commented on #21
Right. Mobile is still languishing on my ever-mounting list of tasks. If you have time, find as many websites with good looking menus as you can find, and send them to me for inspiration :grinning:

[2015-10-24 21:40] williamdekryger commented on #24
That is good. I had not thought about that yet, but another good find by @FrostionAAA

[2015-10-24 21:51] williamdekryger opened #28 "Website CNAME Changes"
Hello All,
Just wanted to note that the website is down due to the fact that the CNAME file has been changed to point to http://triplea-game.org, which does not exist. Is is easy enough to just reverse the commit. Is everyone in agreement, or is there something I don't know?

[2015-10-24 23:12] DanVanAtta commented on #28
Deleted. DNS A-record not working apparently.

[2015-10-24 23:12] DanVanAtta commented on #28
PS - We also  own triplea-game.org as well for the next 10 years.

[2015-10-26 20:02] DanVanAtta opened #29 "DNS config for www.triplea-game.org"
We own triplea-game.org for the next 10 years. Does anyone have any guesses on what the correct DNS configuration would be so www.triplea-game.org would be served by triplea-game.github.io?

[2015-10-26 20:03] DanVanAtta commented on #28
reverted, #29 open for DNS config

[2015-10-26 20:03] #28 closed

[2015-12-30 01:35] #15 closed

[2016-01-04 07:26] DanVanAtta commented on #17
We need to make it "super easy" to know how to submit bug reports. It's a huge process gap for us at the moment. Labelling this as urgent to reflect the higher priority.

[2016-01-08 04:22] Shumaan commented on #27
Hey, new around here, but I thought I would start hashing through some of the critical things...which seemed like this. I'm still trying to find my way around and get myself caught up on anything. Is this valid for me to make a draft of?

[2016-01-08 04:32] Shumaan commented on #25
I know I'm a little late, but I'm all for removing the underline.

[2016-01-08 04:34] Shumaan commented on #22
Any ideas on how to scrunch all the links better on mobile? I mean the simple solution is to simply make each link on its own line in the footer on mobile. However, that seems like it would make the page unnecessarily massive, with a major part of that just being the footer.

[2016-01-08 04:36] Shumaan commented on #6
We get any major work on this yet? I know it's been a couple months, and this seems like it should be a main focus of our efforts. I'd like to start something, but it seems like a lot is in limbo.

[2016-01-08 05:57] DanVanAtta commented on #27
@Shumaan , feel free, the help is appreciated. The few outstanding items I had/have are in the open PRs.

[2016-01-08 07:55] DanVanAtta commented on #22
IMO not all the links need to be there. If we could put two per row, that would save a good bit of space. @williamdekryger , any additional ideas maybe?

[2016-02-22 14:59] williamdekryger commented on #25
@FrostionAAA @Shumaan The underline has been removed as of 3dda2156a1fc39949f2bf1387782359ea745666b.

[2016-02-22 14:59] #25 closed

[2016-02-22 16:22] #24 closed

[2016-02-22 18:13] williamdekryger commented on #22
@Shumaan @DanVanAtta I was planning on doing one link per line with the exception of those that could be converted to icons. Any objections?

[2016-02-22 18:13] williamdekryger commented on #20
@DanVanAtta The manual is already on the website:

![game manual](https://cloud.githubusercontent.com/assets/5250014/13223586/ca210392-d97c-11e5-9bfa-bd8faad3b91c.png)

However, I will definitely be revamping the docs as I have time, so keep that in mind.

[2016-02-22 18:13] #20 closed

[2016-02-22 18:14] williamdekryger commented on #6
@DanVanAtta @gaborbernat I'll be working on this as much as I can in the upcoming weeks. @Shumaan The website project has stalled quite a bit for a few months. I am back now and should be able to wrap up everything that we talked about. If you would like to contribute, that is fine, most issues are small, though this and the maps pages are the biggest ones as of yet.

[2016-02-22 18:18] DanVanAtta commented on #22
seems good to me. There may be some links that we can prune out in case the list gets really long.

[2016-02-22 18:45] williamdekryger commented on #29
@DanVanAtta We should try to get this set up. I see that you registered with Namecheap. Here is the [Github support doc](https://help.github.com/articles/setting-up-an-apex-domain/) and the [Namecheap support doc](https://www.namecheap.com/support/knowledgebase/article.aspx/544/51/how-do-i-set-up-host-records-for-a-domain-when-i-use-freedns) to help you with what you need to do. The most important

[2016-02-22 18:46] williamdekryger commented on #27
@DanVanAtta I believe that this has been resolved, right? May I close #26 as well?

[2016-02-22 20:00] williamdekryger commented on #17
@DanVanAtta I have written a page for this. It can be found in the bug_reporting_page branch. However, I would like a dev to make sure I covered all of my bases.

First, I linked to it from the contribute page:
![link-to-bug-report-instructions](https://cloud.githubusercontent.com/assets/5250014/13230766/944ac52e-d99e-11e5-8148-144197078567.png)

And here is the page itself:
![bug-reporting-instru

[2016-02-22 22:45] DanVanAtta commented on #27
@williamdekryger  - yes

[2016-02-22 22:46] #27 closed

[2016-02-22 22:46] #26 closed

[2016-02-23 10:23] theredbaronaaa opened #33 "Maps Page"
I am creating this thread as a place for discussion on the map page that I am currently working on. The project will potentially be the only dynamic content on the site, with the JSON features of Javascript being used to edit the DOM upon page load. A few things have already been discussed in #11.
### Current Features being worked on
- Uses the Github API to access map info dynamically from [here]

[2016-02-23 10:24] williamdekryger commented on #11
I am merging this thread with #33, to cover more ground.

[2016-02-23 10:24] #11 closed

[2016-02-23 10:50] DanVanAtta commented on #33
One note, the github API automatically pages the response, need to add some args to see the full list:
`https://api.github.com/orgs/triplea-maps/repos?page=1&per_page=10000`

The API rate limit is an interesting problem. Another solution would be to regenerate the static content and republish every now and then. Thinking along those lines, we could add a deploy hook to each map to invoke a script

[2016-02-23 11:04] williamdekryger commented on #22
@Shumaan @DanVanAtta Pull request #34 addresses this issue. Please take a look at that and tell me what you think.

[2016-02-23 11:06] williamdekryger commented on #21
@DanVanAtta I addressed a few of the other mobile tasks in #34. Is this still an issue, and if so, how do you propose fixing it?

[2016-02-23 11:44] williamdekryger commented on #33
Interestingly, I just found out that Jekyll supports "[Data Files](http://jekyllrb.com/docs/datafiles/)," which basically would allow us to put the JSON file in the `_data` folder and call it into a page via the `site.data` variable. This seems way easier than coding a DOM script.

[2016-02-23 14:40] williamdekryger commented on #33
@DanVanAtta You are a lot better at automation than me. I looked at the [maps project](https://github.com/triplea-maps/Project), and it seems that a little script could run every time a commit is made to a map that will take the JSON and place it in the `_data` folder and name it `maps.json`. Now, I am using that file name by manually downloading it right now for testing purposes. If we get this,

[2016-02-23 16:17] williamdekryger commented on #33
I have confirmed that the `_data` method works, and have generated a simplistic maps page from the JSON. I also have begun an issue here to discuss other elements of the maps page. Here is a screenshot of the page in progress:

![maps750](https://cloud.githubusercontent.com/assets/5250014/13257507/ff28d874-da46-11e5-836c-ccda2bdd30b3.png)

I am against a wall until either we add new map images and

[2016-02-23 20:22] williamdekryger commented on #6
@gaborbernat The link to the install4j logo seems to be broken, and I cannot find it on my computer. Would you mind resending it, since I am in the midst of writing the download page.

[2016-02-23 20:59] gaborbernat commented on #6
Find a detailed description of how it should look here,
https://www.ej-technologies.com/buy/install4j/openSource

There you will also find the images you need.

Thanksm

Bernát GÁBOR

On Tue, Feb 23, 2016 at 9:22 PM, William DeKryger <notifications@github.com>
wrote:

[2016-02-23 22:32] williamdekryger commented on #6
@gaborbernat Thanks.

[2016-02-25 08:55] DanVanAtta commented on #29
DNS records added:

![dns_records](https://cloud.githubusercontent.com/assets/12397753/13314514/7489c506-db5a-11e5-90a4-ef53eb4f56ec.png)

[2016-02-25 20:23] DanVanAtta commented on #17
Overall looks good. Some more instructions may be needed on how to find the java error console, and the AI logs, and how/where to post files. Zenhub is not by default enabled for just anyone, so not everyone will be able to initially attach files to issues.

[2016-02-29 22:44] #22 closed

[2016-03-15 22:44] ZjelcoP opened #37 "Facebook Like and Share buttons"
Like and share button for the githubsite:

1. Include the JavaScript SDK on your page once, ideally right after the opening <body> tag.

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode

[2016-03-15 22:53] ZjelcoP commented on #37
ehhh, I'm sure there was code in there.... You took it???

[2016-03-15 23:12] ZjelcoP commented on #37
Ah yes, code seems generic, you can find it anywhere.

I'd say top right corner is a nice spot.
Must say the footers are a bit hidden, have to scroll for them. No space to get them up a bit higher?

[2016-03-15 23:16] ZjelcoP commented on #37
This is for a button for the facebook page:
1. Include the JavaScript SDK on your page once, ideally right after the opening <body> tag.

`<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNo

[2016-03-16 07:07] williamdekryger opened #38 "Add List of Strategy Wargame Mechanics for Map makers"
I gleaned this question out of the forums the other day:

Perhaps we should consider this as an addition to our already planned documentation. We would have to update it, though, as map-makers found more and more intriguing methods to implement, say railroads, or ranged units, or any map feature that the engine can be twisted to support.

Any thoughts on this?

[2016-03-16 07:25] DanVanAtta commented on #38
Download page first!  We've already a lot of overhead and a lot of things to do. If you want to take this on and can knock it out, I'm not going to stop you.

[2016-03-16 07:27] DanVanAtta commented on #29
to update this.. the change was reverted for the DNS.. It did not work :-1:

@williamdekryger , feel free to experiment around if you think you can get it working. You should have access/credentials to the DNS

[2016-03-16 07:27] DanVanAtta commented on #37
@williamdekryger , can i volunteer you for this?

[2016-03-16 07:28] DanVanAtta commented on #10
mothballing, we have higher priorities to work on.

[2016-03-16 07:28] #10 closed

[2016-03-16 07:34] DanVanAtta commented on #33
@williamdekryger , the map config file is now yaml:
https://github.com/triplea-game/triplea/blob/master/triplea_maps.yaml

1. Where does it need to get dropped?
2. How does the file work for you? The path to small images I spotted hardcoded in the game code, but it is standard.

[2016-03-16 07:38] DanVanAtta commented on #17
@williamdekryger , screenshots look good. But I'm noticing the link is not where I would expect it. I was expecting it to be under 'help & documentation'.

Please make the link from that page if you would, and have it be very prominent / easy to find. IMO the downloading game flow and reporting problems flow are the two most important. Next release we'll want to herd the user base to download the

[2016-03-16 07:50] williamdekryger commented on #37
@DanVanAtta Yeah, it shouldn't be too time-consuming. Just as a note, I will be pushing the DL page today and starting a pull request.

[2016-03-16 07:54] williamdekryger commented on #33
@DanVanAtta I'll be grabbing that and pushing the to the [maps_page](https://github.com/triplea-game/triplea-game.github.io/tree/maps_page) branch pretty soon. It is the `_data` folder, but obviously I'll need to put in in for now, as I'll code the page around it.

[2016-03-16 07:56] williamdekryger commented on #29
@DanVanAtta Hmm...Perhaps we should contact support. Surely we're not the only one of their customers trying to send a domain to Github Pages.

[2016-03-16 07:58] williamdekryger commented on #17
@DanVanAtta Sure, I'll be taking care of that.

[2016-03-16 08:38] williamdekryger commented on #6
@DanVanAtta @gaborbernat @ron-murhammer The new download page is live. Please check it out:
http://triplea-game.github.io/download/

[2016-03-16 10:33] williamdekryger commented on #33
@DanVanAtta Ok, a few concerns.

First, the descriptions are way too long to be displayed on the listing. Is there any way we could have a short, one sentence description for the listing, then a longer one for the individual page?

Also, the map images are part of the description, and not every map has one. We should go around and take screenshots of maps that have none, and make the map image its

[2016-03-16 10:51] williamdekryger commented on #33
@DanVanAtta I just noticed that the images were hosted on Sourceforge as well...

[2016-03-16 12:27] ZjelcoP commented on #21
My thoughts when going through the headers:
1: I really prefer them as buttons or blocks instead of just the words. It makes them much more obvious as interactive links and more inviting to actually click on it. Now at first all headers together look like one long sentence.
2: Rearranging: Think the download button can go as you have a big one prominently for that.
Rest: my choice of order would b

[2016-03-16 13:03] ZjelcoP commented on #37
@DanVanAtta : I believe you have access to the sourceforge page (Warclub as well??).
Would you please create the link to the facebookpage there?
I'll ask Dave Jensen to do the same.

Cheers

[2016-03-16 13:35] ZjelcoP commented on #6
Looks nice, works well.
One issue: java. The installationpackage including java is out?
Many people hardly have any idea what java is and whether they have something like it on their computer.  Let alone what version they have or how to check that. Potential obstacle for newbies.

Also the link to download java is very easy to miss (just red letters)
Perhaps make 2 obvious buttons:
1-Download Java

[2016-03-16 13:38] williamdekryger commented on #6
I'm not a Windows user, so I'm probably not the expert in that area.

I can do whatever you guys suggest, though. @DanVanAtta Any thoughts on this?

[2016-03-16 15:17] ZjelcoP opened #41 "Entertainment during download"
From our discussion on sourceforge:

Think the slideshow would be really nice. Can show off some great maps and already give some game information like:
100 maps ready for download!
Play online in the lobby!
Combined with visually nice pics.

I can put it together, meaning the slides.

Implementing it on the site (not my skill):
1: will it not slow down downloading too much?
2: plenty time to show

[2016-03-16 16:47] gaborbernat commented on #6
Java is now packed into the installer, sort of. If there is no Java on the users machine it will download Java from our Github assets repository and Install it silently in the background (this java is installed only for TripleA - so non system wide). The end result once through the installation the game should just work.

[2016-03-16 18:09] ZjelcoP commented on #6
Ah great improvement! In that case i guess the installation instructions can be adjusted to this fact.

[2016-03-16 18:10] williamdekryger commented on #6
@gaborbernat I can work on updating the instructions. Thanks!

[2016-03-16 18:15] ZjelcoP commented on #6
Ah though i guess this is only implemented for the next version?
So 1.8.0.9 doesn't have this feature yet? In that case better leave those instructions for now.

[2016-03-16 19:07] gaborbernat commented on #6
Indeed, however we should release 1.8.0.11 soon I think :)
On 16 Mar 2016 19:15, "ZjelcoP" <notifications@github.com> wrote:

instructions for now.

[2016-03-19 04:43] DanVanAtta opened #42 "Detailed troubleshooting / bug reporting faq page"
Gather debug/troubleshooting steps from the forums, consolidate to the reporting bugs / getting help page. Here is one (recent) example: http://tripleadev.1671093.n2.nabble.com/Game-won-t-start-td7591595.html#a7591708

[2016-03-19 04:45] DanVanAtta commented on #41
Linking to the rule book, or previewing it was my previous thought.

A slideshow I like since it's light. Instructions  / tips about game play would potentially be nice. Or we could also have some change notes located there.

IMO up to @williamdekryger  depending on what he can support / the direction he wants to go with the download UX

[2016-03-22 00:31] williamdekryger commented on #42
@DanVanAtta I had an FAQ page in progress, though if you know of other frequent questions, please tell me.

[2016-03-22 00:34] williamdekryger commented on #41
@ZjelcoP @DanVanAtta I was in the midst of converting the rulebook to Markdown for website purposes. However, we potentially could still use the PDF. I would not be adverse to creating a slideshow, though, either. Maybe a placeholder until we get a video.

[2016-03-22 00:38] williamdekryger commented on #29
@DanVanAtta I'm going to need a resend of that invitation. It seems to have expired. Have you tried contacting support yet?

[2016-03-22 02:34] DanVanAtta commented on #41
Okay, IMO @ZjelcoP  better to focus then on improving the tutorial or website content in other ways.

[2016-03-25 20:46] RoiEXLab opened #43 "Sourceforge/Github Website Confusion"
I just noticed that on the Sourceforge Site of TripleA the GitHub Repo is never mentioned.
I think the Sourceforge GitHub Website should at least link "here".

[2016-03-26 04:21] DanVanAtta commented on #43
+1, hopefully @ron-murhammer , myself or @veqryn  will make that update soon.

[2016-03-26 05:05] ron-murhammer commented on #43
@DanVanAtta @RoiEXLab Yeah next release I think we'll try to update links, etc.

[2016-05-17 06:49] DanVanAtta opened #44 "Upgrade instructions"
On the download page, we could use some upgrade instructions. Existing users will need to know they can connect to the new lobby, cannot play old save games on hte new lobby, and that they can delete their maps and old game installation once they are done with their old game saves.

[2016-06-02 03:16] DanVanAtta opened #45 "Rule book link near the download game button"
Task: place a link to the rule book somewhere near the download game button:

https://github.com/triplea-game/assets/tree/master/rulebooks

[2016-07-10 15:33] RoiEXLab commented on #6
@DanVanAtta This can be closed IMO...

[2016-07-10 19:03] RoiEXLab commented on #37
@DanVanAtta this can be closed

[2016-07-10 19:06] RoiEXLab commented on #45
@DanVanAtta this can br closed as well

[2016-07-10 20:11] DanVanAtta commented on #45
@RoiEXLab  - there was an error in the #58
[code]

[2016-07-10 20:35] RoiEXLab commented on #45
@DanVanAtta Fixed by #61

[2016-07-11 00:47] #45 closed

[2016-07-11 00:48] DanVanAtta commented on #42
bug report page is up, thanks @williamdekryger

[2016-07-11 00:48] #42 closed

[2016-07-11 00:48] DanVanAtta commented on #44
upgrade is pretty easy enough, we can re-open if folks seem to be having trouble.

[2016-07-11 00:48] #44 closed

[2016-07-11 00:48] #37 closed

[2016-07-11 00:51] DanVanAtta commented on #41
We have the rule book link up, hopefully that reading will be entertainment enough ;)
Otherwise, we have a number of things to focus on. I'm not opposed to working on this area more, but for the moment it seems like there is too much to do elsewhere.

[2016-07-11 00:51] #41 closed

[2016-07-11 00:51] #6 closed

[2016-07-15 19:23] RoiEXLab opened #70 "Replace Slideshow images with perfectly cropped ones"
Currently the slideshow is not looking perfectly... This is due to the different aspect ratios of different TripleA Maps.
Goal is to have an aspect ratio for all images looking good on PC *and* Mobile devices

[2016-07-15 19:31] DanVanAtta opened #71 "Slide show image excessive file size"
I just saw the second image in the slide show load very slowly @RoiEXLab

One way to fix this, replace the current images in the slide show with lower resolution images appropriate for the display size. Then for each slide show image, add link that would open up the full resolution image.

[2016-07-15 19:40] RoiEXLab commented on #71
@DanVanAtta My Problem is, that I love image quality... Quality in general (e.g. Maximum Settings in Video Games)... Somebody else has to change this :P

I might change this in the coming week, but I'm currently not in the mood to do graphic design

[2016-07-16 02:30] DanVanAtta commented on #71
I like quality too. But here is the problem, the extra quality is wasted. Since the image is downscaled, the image could be of lower resolution and still look identical. Page load time is very important for websites, with the faster the better.

[2016-07-17 08:09] RoiEXLab commented on #71
@DanVanAtta what about interlacing? This is going to increase the File size, but load the images faster

[2016-08-16 01:15] DanVanAtta opened #77 "Add the lobby rules to website"
Lobby rules are here: http://www.tripleawarclub.org/modules/newbb/viewtopic.php?topic_id=100&forum=1

[2016-08-16 03:13] prastle commented on #77
Ok yes they are there and in help tab of game problem is?

[2016-08-16 03:17] prastle commented on #77
Also on git hub page as I recall but let me check ah you have to dig so add a link and while on subject why veq still a donation link ? ;)  It should be money towards our site as a private con we had oncel  Just my thoughts

Pras

[2016-08-16 03:29] DanVanAtta commented on #77
Could you clarify  @prastle ?
Task here is to host the game rules on a static page. Easier to manage there. We likely have the same rules somewhere on the dev forum.

[2016-08-16 04:10] prastle commented on #77
no task here was to write player rules
 and mod rules
which are both the same

game rules we have elsewhere

[2016-08-16 04:11] prastle commented on #77
above post link covers them thus why we here?

[2016-08-16 06:23] DanVanAtta commented on #77
A forum post is a poor choice for rules location.  Example, there is a 'no-politics' rule that is not listed.

It is static content, there is no need to store that on warclub. Migrated we have an opportunity to discuss changes to evolve the rules more easily, rather than locking a thread.

[2016-08-16 09:34] ZjelcoP commented on #77
I offered to help on organizing documentation and info. At the moment looking for info you'll be taken over several websites and fora, sometimes having to go through a whole thread hopefully finding what is the current position on any point.

My aim would be to organize all that including lobby rules as static content easily accessible through tabs in website. Related forum threads can serve merel

[2016-08-16 12:18] prastle commented on #77
It states when you enter lobby  "No Politics".  I am certain we could add a line to the rules saying no political discussions will be appreciated or something like that since it already says

3) Names with a political or religious or ideological agenda

  I am quite certain if people are PBEM or PBF they are not talking politics.  But if they are in their own private games who cares.  This rule ev

[2016-08-26 03:23] DanVanAtta commented on #77
The goal is to have static content, like a rules posting, not be a forum post. Task is to add a copy of the forum post to either the github IO website, or the warclub website (or a new future tech stack version of warclub)

[2016-08-27 23:45] DanVanAtta opened #81 "1.,9 release updates - Need 32 bit and 64 bit windows install images"
There is a 32 bit and a 64 bit version for windows, need to split up the download button for windows between the two. This image needs to be cloned and modified to have a 32 bit and 64 bit versions.
[code]

[2016-08-27 23:57] DanVanAtta commented on #81
While on the topic, we can update the links in a few days to point to the 1.9 release.

[2016-08-29 13:11] panther2 opened #86 "1.8.0.9 button still on the website..."
... though hitting it leads to the download page, where the 1.9.0.0.xxxx installers are presented

[2016-08-29 16:31] DanVanAtta commented on #81
This is taken care of, we have two different buttons for 32 bit and 64 bit windows install now.

[2016-08-29 16:31] #81 closed

[2016-08-29 16:32] DanVanAtta commented on #86
The 1.8.0.9 text is now removed: https://github.com/triplea-game/triplea-game.github.io/pull/87, it was an oversight leaving it.

[2016-08-29 16:32] #86 closed

[2016-08-29 16:32] DanVanAtta commented on #29
This is done! Thanks @williamdekryger  for getting it set up, I didn't realize how nice it would be to have a proper domain name :+1:

[2016-08-29 16:32] #29 closed

[2016-08-29 16:33] DanVanAtta commented on #21
- we need to determine if this is still a problem, probably is. In which case we are simply tracking it it here until someone volunteers a fix.

[2016-08-29 16:34] DanVanAtta commented on #17
@williamdekryger , is this still in progress?

[2016-08-29 16:35] DanVanAtta commented on #38
A wiki might be better since there would be a lot of content to manage, making it self-managed might be very good. Otherwise this seems like it would be a valuable page for the map makers, an XML recipe book effectively.

[2016-08-30 03:26] Cernelius commented on #71
Yeah, it's much too slow.

[2016-08-30 04:38] DanVanAtta commented on #71
slow as in loading? @Cernelius ?

[2016-08-30 10:16] Cernelius commented on #71
Yes, it is rare to find in internet a page loading as slow as the first page of triplea-game.org. My suggestion is to use jpeg 90% quality (or maybe something better) and remove a couple slideshows (down from 9 to 7).

Also, I can see it all only at +250%. At 100% like the 270BC one is cut in the middle of Sicilia and can't see the part of map under it.

Also, I believe the second slideshow should

[2016-08-30 10:22] Cernelius commented on #71
![slideshow](https://cloud.githubusercontent.com/assets/19562310/18085652/533d1412-6eac-11e6-8ebb-02375324c8ed.png)

[2016-08-31 18:08] Cernelius commented on #77
I believe the no talking politics rule apply to lobby only, not to forum, and I think the developer forum is ruleless (not sure).

If you want to extend the no talking politics rule to forum too, I think you should inform the mods.

[2016-09-01 16:46] panther2 opened #89 "Wrong link ..."
... due to a typo:

On http://www.triplea-game.org/community/
in the text field

The link to the Github Map Project page is https://github.com/triplea-maps/Projects
resulting in a 404 error.

It should be https://github.com/triplea-maps/Project instead.

[2016-09-01 20:18] prastle commented on #77
Yes Cernel u are correct and well put.  It concerns the lobby and live only no one wants to read the argument.

[2016-09-01 21:35] williamdekryger commented on #38
Alright, I'm closing this for the time being, as I have other priorities, and won't be able to spearhead this. I may be willing to try with a collaborator, but for now, I don't see this getting done any time soon.

To sum up, the original idea was to have a set of documents that explained in greater detail the different parts of Pact of Steel 2 XML, basically documenting all of the different featu

[2016-09-01 21:35] #38 closed

[2016-09-01 21:46] williamdekryger commented on #77
Alright everyone, I don't believe this is the appropriate place to be debating forum/lobby rules, but features related to the website. What is the verdict? To add, or not to add?

@ZjelcoP I've also been looking at TripleA's scattered documentation, and I'd be willing to work together on it. I envision a grand documentation section on the website at some point. Let's talk more about this at some p

[2016-09-01 22:03] williamdekryger commented on #43
@ron-murhammer @DanVanAtta What are the chances that we could merely take down the Sourceforge site. It provides us nothing, as the Github site has all of the features of it and more, besides the fact that it is outdated and confusing to our users.

[2016-09-01 22:05] ron-murhammer commented on #43
Most likely we'll just update the homepage to reference the github site and warclub after 1.9 is released.

[2016-09-01 22:06] williamdekryger commented on #71
@DanVanAtta @RoiEXLab As an original opponent of the slide show, for a few of the reasons listed [here](http://shouldiuseacarousel.com/) and a few others, I would like to find a better long-term solution, both for the load time, accessibility, and visibility of the content.

I'd prefer to replace the slider with better homepage content, maybe some more relevant or updated text and a call to action

[2016-09-01 22:14] williamdekryger commented on #17
@DanVanAtta I still have the work in progress for this on my local repo in a separate branch. I'll need to work on getting that merged with the latest changes.

[2016-09-01 22:38] prastle commented on #77
Ty William we are agreed on something here. :)

in my ho if they cared about the rules they would read them.

static or a link

jmho

more rules means nothing

jmho

[2016-09-01 22:51] prastle commented on #77
@ZjelcoP   I hear ya on the gathered documentation.  The sad truth is that live players pretend they have never seen it.  With multiple nick names and etc this is hard to prove. so truth be told
1 login
1 name
1 email
etc is only solution
u guys are the tech guys
what ever version u come up with if user friendly it will pass
JMHO
Pras

[2016-09-02 04:07] DanVanAtta opened #92 "Community page Updates - remove the paragraph text"
This text:

IMO we should replace it with icons, similar treatment as warclub and the other 2 icons on the community page. One for gitter, and another for the lobby.

Here is a screenshot of the page for context:
![example](https://cloud.githubusercontent.com/assets/12397753/18192336/3ae95924-7088-11e6-9e40-fa585e3d7ba5.png)

[2016-09-02 04:10] DanVanAtta commented on #89
now fixed on live site, thank you

[2016-09-02 04:10] #89 closed

[2016-09-02 19:17] RoiEXLab commented on #70
Closing due to #71

[2016-09-02 19:17] #70 closed

[2016-09-02 19:20] RoiEXLab commented on #71
@williamdekryger Sure do whatever you think is the best for the Website!

[2016-09-03 06:03] DanVanAtta commented on #71
slide show removed in: https://github.com/triplea-game/triplea-game.github.io/pull/94

screenshots page added (same PR): http://www.triplea-game.org/screenshots, this page is rough, could use improvements.

Excessive image size in slide show is now no longer an issue :ballot_box_with_check:

[2016-09-03 06:03] #71 closed

[2016-09-03 15:53] Cernelius commented on #77
Having the rules hosted in two different places is a bad idea. I can see them being modified in one and not the other, so we end up with different rules.

Rules should be hosted in 1 place only (and possibly linked to in multi); so either the WarClub or the GitHub WebSite or something.

If not in WarClub, then the WarClub must have a link to them in the main page.

Of course, lobby/forum rules are

[2016-09-03 16:01] Cernelius commented on #77
Yes and no on Users and Moderators having the same rules.

For example, since rules do not apply to private hosts, a normal User can go in all private hosts and insult everyone or whatever as much as he wishes. But we probably don't want a moderator to do that. Plus moderators have additional Bunker info about the rules (example: Bot rules), tho they are meant to apply to normal users and moderato

[2016-09-03 18:00] DanVanAtta commented on #77
It's a subjective choice we are making when choosing to host content as a forum post, or a webpage. It is a question of location and presentation here, not content.

Does anyone know if it was discussed why rules would be posted on a forum thread, and not be posted on a webpage? I would suggest that an all-of-the-above approach was taken to documentation without concerted effort to ensure a consis

[2016-09-03 18:12] DanVanAtta commented on #43
The content does not bother me too much, I'm in no rush to see it deleted. IMO we could use some text in bold at the top of the sourceforge page stating that the entire project has moved to github (download link + source code). I do think we should have put a note much earlier when we migrated the source code, but water under the bridge, we can look forward to 1.9 effectively being released and al

[2016-09-03 18:16] DanVanAtta commented on #33
@williamdekryger , still in progress? If so, could please suggest an example JSON entry. I believe that would be a good basis for determining how to better structure map data

[2016-09-03 18:18] DanVanAtta commented on #21
I think this issue can be re-summarized as this:
- the header is not very mobile friendly, it takes up the entire page on mobile, and when clicking links, there is no way to tell which page you are on without scrolling (IE: missing feedback that the correct page transition has occurred)

[2016-09-03 18:25] DanVanAtta opened #95 "Change website color palette to match warclub?"
Thoughts on having the github.io website use the same general CSS  as warclub? The motivation there  would be to make the two more similar so we can start blending the two sites together.

My thoughts are we should start by adopting first the same font and color palette.  The two sites are different, so to me it would make sense that they still stay somewhat visually distinct.

[2016-09-03 19:52] DanVanAtta opened #97 "CSS default to show bullets"
I was looking for where we turn off bullets on the list items by default. Where is that config?

Second, I've frequently have wanted bullets, thoughts on flipping it so bullets are on by default for `<li>` and `<ol>`  items?

For example, this markdown page: http://www.triplea-game.org/bug_report/, does not look pretty, does not seem ideal that we have to special case it to make it look like a lis

[2016-09-04 11:42] prastle commented on #77
It was originally put in warclub because at that time most user's were visiting warclub a lot I would assume.

[2016-09-04 22:06] DanVanAtta commented on #77
Then why were the how to host and download instructions put in source forge forums? Does it still make sense to have the respective rules be posted in those locations? The various rules, docs, are not even consolidated to a centralized index. It would seem to me that the first step would be to at least have links to it all in one spot. Thinking ahead, the forum posts do not have consistent present

[2016-09-04 22:19] prastle commented on #77
They were placed in source forge because ones interested in development download and hosting were more tech involved.  To refresh tho all in one spot fine.  I'm sure that makes little difference only a certain few will read sadly.

[2016-09-04 22:20] prastle commented on #77
thus more traffic 1 site the best idea.

Jmho

Pras

[2016-09-04 23:52] DanVanAtta commented on #77
Hmm, in both cases the audience of the rules/information were players, not necessarily just map makers etc. One is the tips on host a game in the lobby, and another are rules for lobby conduct, both are directed towards players.

I think the point is made, the documentation is scattered and got that way out of a matter of convenience. Which then gets us to this task, migrate such content to a cent

[2016-09-05 00:17] prastle commented on #77
Just copy paste

[2016-09-06 07:07] panther2 opened #102 "Download links broken..."
... because the file versions have not been updated (still 3057 instead of 3089):

For example
https://github.com/triplea-game/triplea/releases/download/1.9.0.0.3089/TripleA_1.9.0.0.3057_windows-64bit.exe

So a 404 error results.

[2016-09-06 09:05] DanVanAtta commented on #102
Should be fixed now with: https://github.com/triplea-game/triplea-game.github.io/pull/103

[2016-09-06 09:07] panther2 commented on #102
Fixed and closed, thanks.

[2016-09-06 09:07] #102 closed

[2016-09-06 09:25] panther2 opened #104 "Download links point to 3089 instead of 3096"
#103 edited 3089 in, instead of 3096

[2016-09-06 17:28] panther2 commented on #104
Fixed and closed.

[2016-09-06 17:28] #104 closed

[2016-09-07 10:42] williamdekryger opened #109 "Pages to be moved to Documentation Folder"
On the site, we have a few pages that definitely fall into the category of documentation. A few come to mind, including, "bug_report," "upgrade_notes," and "release_notes." Is it a possibility to have those put under the `docs/` folder, as this would facilitate the expansion of documentation in that location later on? I propose we move those to the docs folder for the time being, knowing that ther

[2016-09-07 10:47] williamdekryger opened #110 "Page URL Naming Conventions"
Several of the pages on the site now have two-word names, including, "bug_report," "upgrade_notes," and "release_notes." These pages all use an underscore ("_") to separate the two words. These URLs are potentially subject to change anyways (see #109), so I'd like to take the opportunity to decide whether we standardize around the underscore, or use either dashes or no space, which become, "bug-re

[2016-09-07 10:51] williamdekryger commented on #92
Alright, I'm game to see what you have in mind. I'm not sure exactly what you want in its place, though I do believe there should be a bit of text there to introduce the page.

[2016-09-07 11:01] williamdekryger commented on #43
One addition to this topic: donations. We are still sending people to Sourceforge, to this link: http://sourceforge.net/donate/index.php?group_id=44492, which looks like it goes to veqryn. Is there something we can set up for the project, so it's not tied to a particular system or admin?

I don't really care that much about this one way or the other, and in making the site obscured the link a bit

[2016-09-07 11:04] williamdekryger commented on #21
I may be able to provide a fix, though I'm not sure what beyond condensing the menu into one link, and using Javascript to open it up, though I don't know if that is what we need...

[2016-09-07 11:26] williamdekryger commented on #33
So, on this project, I found that in reality filling a maps page with values from a file in the [`_data`](https://github.com/triplea-game/triplea-game.github.io/tree/maps_page/_data) folder is quite simple. I tested it with the JSON that the Github API spits out, and really liked that we could even have number of stars in our listing. I haven't tried the YAML file yet, but that would be relatively

[2016-09-07 12:19] RoiEXLab commented on #43
Another thought... If we have php access to the site, we might just redirect all requests to the new site via header()

[2016-09-08 09:17] williamdekryger commented on #95
Moving discussion to https://github.com/triplea-game/triplea/issues/1070 so that we can get an idea of what is happening, and some more opinions. Will come back here to decide specifics for the website itself.

[2016-09-09 00:27] DanVanAtta commented on #97
Now done, thank you @williamdekryger

[2016-09-09 00:27] #97 closed

[2016-09-09 08:36] FrostionAAA commented on #33
Concerning thumbnails and where to put them, right now I have my maps’ thumbnails uploaded to the maps'  Github folders, like this (link from the yaml file):
img: https://raw.githubusercontent.com/triplea-maps/star_trek_dilithium_war/master/description/StarTrek_mini.png

To me it seemed to be a good, reliable and long term place to upload the image at the time, and it would be easy to drag, drop a

[2016-09-09 17:59] DanVanAtta commented on #33
@FrostionAAA , that is fine. The image location is going to be pulled from the "img" tag in the maps.yaml file. Ideally we would use github cloud hosting for the images where possible to keep the download and map repo sizes smaller. (example, select an image, attach to this issue, that gives you a hosted URL that is then always valid, cancel the comment, and walk away with the image  URL)

[2016-09-09 23:13] FrostionAAA commented on #33
@DanVanAtta
and
@williamdekryger (As you propose / request map thumbnails at https://github.com/triplea-maps/Project/issues/16 )

Right now, I can see that the folder ”description”, a folder I made and placed beside all my maps’ ”map” folders is actually downloaded along with the maps. The description folder contains the thumbnails displayed at my maps in the download maps section of TripleA. I di

[2016-09-10 00:01] DanVanAtta commented on #33
@FrostionAAA , simply upload your images to a github issue. That will give you a link to the image. That link will then always be good whether you go on to create the issue or not.

So no. Centralizing items is also a bad idea. The complete map data should be contained in the map repo, so when we remove one, it is completely removed, and same if we add a map repo.

I didn't really either, but by p

[2016-12-08 20:59] sudopluto opened #128 "SEO of website"
When searching for the game, the old sourceforge site comes up for the first result, while the actual site comes up way later.

[2016-12-17 00:53] DanVanAtta commented on #128
Indeed, the SEO needs some help. We've linked to the new website from the source forge page, which should help some. Any recommendations or suggestions to help improve it?

[2016-12-18 22:43] DanVanAtta commented on #110
Let's do underscores please, it's typical of file names and URLs, and reads more easily than dashes

[2016-12-18 22:43] #110 closed

[2016-12-18 22:44] DanVanAtta commented on #109
General agreement.
I've migrated `docs/` to `help/` and have been importing the legacy documentation there. We'll need a few more passes of cleanup and organization. We're getting a bit closer to having consolidated documentation.

[2016-12-18 22:44] #109 closed

[2016-12-18 22:45] DanVanAtta commented on #95
I think the question still remains, should we update the github.io website to match the CSS of warclub? We're not going to be merging/transitioning websites just yet anytime soon. The color/theme match woudl at least make the websites seem more cohesive.

[2016-12-18 22:46] DanVanAtta commented on #43
SF page now links to github.
PHP website is still going to be running for some time. We have a link to it in the header.

[2016-12-18 22:46] #43 closed

[2016-12-18 22:47] DanVanAtta commented on #33
@williamdekryger  most of the infrastructure should be there in terms of data being published. Assigning to you, I for one at least am still interested to have this project move forward.

[2016-12-18 22:47] DanVanAtta commented on #21
Closing for now. A QA pass on mobile would be a good idea.

[2016-12-18 22:47] #21 closed

[2016-12-18 22:49] DanVanAtta commented on #92
The community page was updated some time back. Closing for now, new suggestions can take a fresh look (and submit a new issue)

[2016-12-18 22:49] #92 closed

[2016-12-31 20:43] prastle commented on #77
To bring the rules thing back up again sorry.  It doesn't really matter where we put them. If they pretend they never read.  Best is still one login and read rules and sign off. Then they get download etc.  Meanwhile if they can log in under multiple knicks it makes no difference.  Just my thoughts

[2017-01-03 07:18] DanVanAtta commented on #77
closing, we have conslidated docs on the website, a link to the rules is there. We would do well to import the forum text to a source controlled markdown file, but for now at least it can easily be found along with the rest of documentation.

To make users actually read the lobby rules is out of scope for this issue, please create a new one (it is an involved discussion). I'll note though that we

[2017-01-03 07:18] #77 closed

[2017-01-08 03:35] RoiEXLab commented on #128
A suggestion I read very often is 301 redirects, but I believe we don't have access to that...
Also I heard that is possible to tell Google your website moved in the webmaster tools...

[2017-01-24 08:24] DanVanAtta opened #167 "https"
https://help.github.com/articles/securing-your-github-pages-site-with-https/

[2017-01-24 21:13] RoiEXLab commented on #167
Oh right... I always forget you aren't an owner of the triplea-game org, just a contributor with write access... Thanks for adressing this issue though!

[2017-01-24 21:20] RoiEXLab commented on #33
@williamdekryger Are you still working on this?
Anyway I'd recommend deleting the maps_page branch until something is actually changed...

[2017-01-27 06:34] RoiEXLab commented on #167
@ron-murhammer just mentioning you to remind you of this...

[2017-01-29 04:26] ron-murhammer commented on #167
@DanVanAtta @RoiEXLab "Enforce HTTPS — Unavailable for your site because you have a custom domain configured (www.triplea-game.org)
HTTPS provides a layer of encryption that prevents others from snooping on or tampering with traffic to your site.
When HTTPS is enforced, your site will only be served over HTTPS."

[2017-01-30 08:13] RoiEXLab commented on #167
From github support:

[2017-01-30 09:29] kskarthik commented on #167
Better use a CDN like cloudflare or max CDN

[2017-01-30 09:30] kskarthik commented on #128
I will look into this :) in a simple way

[2017-02-12 18:25] RoiEXLab opened #170 "Optimize website for mobile"
Just leaving this here to remind us of this task...

[2017-02-13 01:32] DanVanAtta commented on #170
Generic tracking tickets are not good things. We'll get into a habit of leaving lots of stuff laying. Tickets should ideally be actionable, so you can spend 2-3 minutes reading a ticket and then have/know what to do.

@RoiEXLab  is there anything in specific you were looking to do for mobile?

[2017-02-13 07:31] RoiEXLab commented on #170
I was mainly thinking of the navigation...
Currently the Navigation on mobile takea about 70% of the page height, I will turn this into a dropdown menu sometime (for mobile)
Also the title is not quite fitting on a portrait oriented screen (I don't know what it's actually called)

[2017-02-17 09:43] #170 closed

[2017-05-17 06:01] DanVanAtta commented on #95
Closing for now, topic is not very current anymore.

[2017-05-17 06:01] #95 closed

[2017-05-17 06:03] DanVanAtta commented on #33
Keeping the branch around is pretty harmless. IIRC we have the map data feed infrastructure in place, just need need to finish the map parsing (which quickly leads to needing standard map data in various locations, the data from triplea_maps.yaml is not very rich)

[2017-05-17 10:40] theredbaronaaa commented on #33
@DanVanAtta @RoiEXLab FYI, I'm just about to the point where I'll have some time to wrap this up. As you both might remember, there is a live [page](http://www.triplea-game.org/maps-list/) already on the site for testing purposes that has most of the progress so far.

As of right now, the only change I think we need to see before this replaces the current maps page is to get the download links to

[2017-05-17 18:36] theredbaronaaa commented on #33
@DanVanAtta @RoiEXLab I worked a bit on this today and wanted to show some progress.

I've gotten it so that the "Download" buttons kick the user over to this page here:

![screen shot 2017-05-17 at 8 24 10 pm](https://cloud.githubusercontent.com/assets/5250014/26169771/238fc20e-3b3f-11e7-81a5-e1b3d59f6a15.png)

The notification on top is an addition to steer the user through the process and remin

[2017-05-17 19:19] RoiEXLab commented on #33
I did some quick research and it would be possible to launch triplea and download the map when clicking on a link.
We'd need to configure install4j to enter some values into the registry and add a url handler to triplea which initiates the download and we should be good to go!
Will take some time though... We May need to change the way downloads are currently handled

[2017-05-17 19:29] RoiEXLab commented on #33
Would be possible on linux as well, but there would be more custom cases to handle

[2017-05-17 20:01] theredbaronaaa commented on #33
Right. Steam, Github, and many more have these types of implementations. I guess it would depend on those who were doing the work 😉

[2017-05-17 20:19] RoiEXLab commented on #33
I opened https://github.com/triplea-game/triplea/issues/1723

[2017-05-21 16:15] RoiEXLab commented on #33
@theredbaronaaa I believe I found a solution to your problem. There is a way to create a site for each individual map.
When my current PR gets merged I could create a sample page

[2017-05-23 18:31] RoiEXLab opened #187 "Footer not sticking on bottom"
You all probably noticed this, and it annoys me quite a bit:
![Example](https://cloud.githubusercontent.com/assets/8350879/26369908/714569e8-3ff6-11e7-9b2a-83fe5f91b9b9.png)
On Pages that are not filling a complete page the footer floats "in the air" instead of sticking at the bottom.
I played around with it a bit, but I'm no CSS expert and therefore couldn't get it to work \:-/

[2017-05-25 20:33] DanVanAtta opened #193 "Back button unexpected behavior"
@RoiEXLab  FYI: part of  #192 may need to be backed out / redone a bit. The problem I see,  for example when, going via these pages:

- http://www.triplea-game.org
- http://www.triplea-game.org/help/
- http://www.triplea-game.org/dev_docs/
- http://www.triplea-game.org/release_model

The back button takes me to:
- http://www.triplea-game.org

Instead of:
- http://www.triplea-game.org/dev_docs/

To

[2017-05-25 20:51] RoiEXLab commented on #193
@DanVanAtta  The back button is only a thing for pages with the "longpage" layout, which is supposed to be used for documentation...
So we shouldn't have any problems \:-)

[2017-05-25 21:08] RoiEXLab commented on #193
I opened #195 in order to adress part of this issue...
Currently every page has a "root" defined, so technically it's not a back button, but a parent directory button instead...
What we could do is navigate through the browser history using javascript. `history.back();` is equivalent to pressing the back button in your browser...

[2017-05-25 21:09] RoiEXLab commented on #193
@DanVanAtta But I agree that the structure of the docs is currently pretty bad...

[2017-05-25 22:59] #193 closed

[2017-05-29 06:17] #187 closed

[2017-05-31 14:15] RoiEXLab commented on #33
@theredbaronaaa The "new" maps pages are now live. Have a look yourself: http://www.triplea-game.org/maps-list/
After #202 being merged feel free to edit the maps-list pages however you like in order to replace the current maps page...

[2017-06-02 12:28] RoiEXLab commented on #33
I removed the maps_page branch, because its just getting older and older...
If we needed it in the future I'd suggest creating a PR for master and mentioning this, so we can then create a new branch from master and merge the PR into that if it needs more work...

[2017-06-04 22:02] RoiEXLab opened #213 "What should we do with broken links?"
After 2 day of trial and error, I finally got a new travis script for this website working!
(We might need some html validation of the triplea_maps.yaml file, but this is off-topic).
In [this travis log](https://travis-ci.org/RoiEXLab/triplea-game.github.io/builds/239376575) you can see, that only 1 Test is failing.
I wrote [a tool](https://github.com/RoiEXLab/link-checker) today which parses ever

[2017-06-04 22:21] ron-murhammer commented on #213
@RoiEXLab Can you post a list of the broken links? I would say let's do a quick review of them.

[2017-06-04 22:22] RoiEXLab commented on #213
Ah, it seems I wasn't clear enough...
Just watch the logfile from travis I linked...

[2017-06-04 23:00] ron-murhammer commented on #213
Oh I see, didn't realize that.

So a good chunk of them are from the "news" page which I'm not sure how to even navigate to. They are trying to refer to old release notes in SourceForge. It would seem that whole page should just be removed in favor of http://www.triplea-game.org/release_notes/

[2017-06-05 01:25] ssoloff commented on #213
[code]

I think the problem is simply out-dated links in the HTML.  Those links should probably be using the Jekyll permalink for `game_playing_guide.html`.  If I try to hit `http://localhost:4000/game_playing_guide/index.html#sec_8`, I get the expected content.  If I change the corresponding link in `dev_docs/older/readme.html` to `/game_playing_guide/#sec_8`, it works correctly.

(This comment a

[2017-06-05 17:28] RoiEXLab opened #216 "Rework legacy documentation"
The legacy documents are well legacy.
They are everything but up-to-date.
It should be our long-term-goal to completely replace this documentation with a new one which should have about the same content, but up-to-date.

Leaving this here as a reminder

[2017-06-05 17:44] DanVanAtta commented on #216
Thanks for creating the reminder task. I would suggest instead of replacing we delete or update the out of date, and try to fix the still valid documentation to be more concise. Example, instead of paragraphs, see if we can say the same in a sentence. There is too much over-explanation, and a good bit of redundant explanation too.

Some details to consider:
- https://github.com/triplea-game/triple

[2017-06-05 17:54] RoiEXLab commented on #216
Good Points @DanVanAtta
You're right about the long-term issues, I just think since the website repo doesn't have too many tasks it's not that important...
Yeah, deleting the old documentation is probably the right thing. Although (or probably because) it's very old it provides a lot of details. We really need to get the same amount of content into the "current" documentation

[2017-06-17 02:40] ron-murhammer opened #221 "http://www.triplea-game.org/screenshots/ Gives 404"
http://www.triplea-game.org/screenshots/ Gives 404

The screenshot menu option gives a 404 error

[2017-06-17 03:09] ssoloff commented on #221
That page is missing a `permalink` property.  Not sure if that's the problem.  Let me spin up a Jekyll container and see if I can reproduce it locally.

[2017-06-17 03:14] ron-murhammer commented on #221
Cool. Ping me if you submit a fix.

[2017-06-17 03:17] ssoloff commented on #221
@ron-murhammer Sorry, the permalink was a red herring (it's never had one to begin with).  I'm running `master` locally and the screenshots page comes up fine.  There may be something wrong in production.

[2017-06-17 03:19] ron-murhammer commented on #221
Hmm. I'm still wondering if permalink isn't needed in production. Might be worth trying.

[2017-06-17 03:33] ron-murhammer commented on #221
@ssoloff Looks like that fixed it :). Nice work. Closing this.

[2017-06-17 03:33] #221 closed

[2017-06-17 03:38] ssoloff commented on #221
@RoiEXLab Can you explain why the absence of `permalink` fails in production but works fine when I run Jekyll locally?  Is there some configuration in production that's not captured in the repo?

[2017-06-17 05:46] #213 closed

[2017-06-17 05:48] RoiEXLab commented on #221
@ssoloff I have no idea!
I'm assuming github pages uses a slightly modified version of jekyll?

[2017-06-17 06:29] ssoloff commented on #221
@RoiEXLab Or maybe it's the Docker image I'm using that has the "extra juice" that allows it to work without a permalink?

[2017-06-22 04:23] ssoloff opened #224 "Most dev docs links are broken"
I'm getting a 404 on **all** the internal links from the [root dev docs page](http://www.triplea-game.org/dev_docs/dev/) **except** for the following:

* http://www.triplea-game.org/dev_docs/dev/code_standards/
* http://www.triplea-game.org/dev_docs/dev/builder_bot/

It looks like the problem is that the links include a trailing slash but the permalinks on the pages themselves do not include the t

[2017-06-22 06:19] RoiEXLab commented on #224
@ssoloff Could you open a PR on this one?

[2017-06-22 06:20] RoiEXLab commented on #224
I'd prefer changing the permalinks instead of the hrefs

[2017-06-22 15:56] ssoloff commented on #224
@RoiEXLab Does the link checker not validate internal links?  I would have thought this issue would be caught during a build.

[2017-06-23 14:57] RoiEXLab commented on #224
#225 has been merged, closing!

[2017-06-23 14:57] #224 closed

[2017-07-29 17:56] DanVanAtta opened #233 "Download boxes render unevenly in narrow window"
The download boxes can be sized different if the window is narrow but not narrow enough to make the download boxes wrap to a new line.

![narrow_window_rendering](https://user-images.githubusercontent.com/12397753/28747117-55d67c1c-744c-11e7-85e5-e54b695c043f.png)

I think what is happening is the boxes are being shrunk and the minimum size limit is determined by the OS image at the center.  Repro

[2017-08-18 19:16] ssoloff opened #236 "download_html_validator intermittently fails on Travis PR builds"
The `.travis/download_html_validator` script uses the GitHub API to download the latest release of the `validator/validator` project.  This requires authenticating via an OAuth token, which is stored in the encrypted environment variable `AUTH_TOKEN`.  However, for security reasons, encrypted environment variables are not visible to PR builds.  Thus, PR builds will attempt to connect to the GitHub

[2017-08-19 01:56] RoiEXLab commented on #236
Good points, we should probably just use a fixed version then.
Feel free to create a PR to adress this issue if you have the time, I won't be able to do that until Friday

[2017-08-22 12:22] #236 closed

[2017-08-25 00:33] DanVanAtta opened #239 "'longpage' layout is likely no longer used"
After pruning content: https://github.com/triplea-game/triplea-game.github.io/pull/226, 'longpage' layout is likely no longer used, can be cleaned up and removed.
[code]

[2017-08-25 00:38] DanVanAtta commented on #216
Closing for now, there is no open action item that I can tell. We can cut new issues to discuss future changes, the docs need a *lot* of work content wise. The current state is most of it is has been lumped together, and some of it pruned, but it is mostly just lumped. So at least we no longer have stuff in so many places, but it's documentation that is spread out over 15 years and is duplicated a

[2017-08-25 00:38] #216 closed

[2017-08-25 00:39] DanVanAtta commented on #216
We can also discuss strategies for how to re-work, feel free to open a new topic if interested in picking that up, or proposing changes directly in a PR

[2017-08-25 00:40] DanVanAtta commented on #167
Closing for the moment. Mostly because the benefit for `https` for the website is not very compelling. The website is all static content. If there is a use-case to integrate with the forum better or something else, we can very well revisit this topic. In the meantime, I'm quite positive we should focus our efforts elsewhere where it will be more impactful.

[2017-08-25 00:42] DanVanAtta commented on #33
@theredbaronaaa  can you give you a really quick update on this project at all? It may be useful to after to cap off any current efforts and get them merged in.

[2017-08-26 17:27] #239 closed

[2017-08-26 21:32] RoiEXLab commented on #33
In #246 a link is provided for this page, the latest TripleA pre-release allows users to download maps directly from the website.

[2017-08-26 23:05] #233 closed

[2017-08-27 17:14] RoiEXLab commented on #128
The Website is still behind source forge, but it is in the first couple of results, which should be good enough.
Closing this issue for now

[2017-08-28 01:27] jelinekb opened #249 "Developmet Documentation (dev_docs) gives 404 - File not found"
Readme (triplea-game/triplea) indicates that development documents are located at http://www.triplea-game.org/dev_docs/

Clicking link, however, results in 404 - File not found

[2017-08-28 01:53] ssoloff commented on #249
Thanks for reporting, @jelinekb.  We forgot to update this link when we moved the dev docs from the website to the dev repo.  triplea-game/triplea#2287 fixes this and is now live.

[2017-08-28 01:53] #249 closed

[2017-08-28 16:43] DanVanAtta commented on #128
Let's keep tracking, this is still a problem as reported, the issue is that the current site is still below the old results. We are missing some action items though, we should identify some things we can do to improve this situation. If we exhaust all practical suggestions and this is still a problem, then I recommend we close at that time given there is not much further we would be able to do.

W

[2017-08-28 16:45] DanVanAtta commented on #33
Thanks for the foundation @theredbaronaaa  and picking this up @RoiEXLab . Will close, this ticket was before github had 'project's, this was an early project tracking thread. Given the maps page is launched, we can create new threads to pick up new topics.

[2017-08-28 16:45] #33 closed

[2017-08-28 16:48] DanVanAtta commented on #17
Closing, missing action items in this ticket, it's a bit stalled. #250 has an update to the bug report page.

One intent behind this tracking ticket is that we take a full overview of the bug reporting process. I think at the moment that is no longer necessary. We have consolidated the help links from the game to the website, and we just slowly updated that. I think the real next steps will be to

[2017-08-28 16:48] #17 closed

[2017-08-28 16:54] RoiEXLab commented on #128
@DanVanAtta You're right: There are actions we haven't tried yet.
Google has a guide on how to move a site: https://support.google.com/webmasters/answer/6033049?hl=en
What are our actual options given that we don't have full control of the sourceforge server?
DOes anyone have this site mapped to a webmaster account on google?

[2017-08-28 17:25] DanVanAtta commented on #128
@ron-murhammer should have full source forge permissions, if not we can get Veqryn.

[2017-08-28 17:30] RoiEXLab commented on #128
By "not full control" I meant that we don't have access to the actual server software e.g. nginx or apache, which probably makes adding 301 requests really hard/impossible

[2017-08-28 17:31] RoiEXLab commented on #128
Also feel free to correct me if I'm wrong.

[2017-08-28 17:35] DanVanAtta commented on #128
I'm sure other projects have been in a similar situation. There may be nothing we can do in that case, but maybe there is.

We should not also get tunnel vision on the one approach, there are other classic SEO strategies we could pursue.

[2017-12-01 09:05] RoiEXLab commented on #128
The sourceforge websites now 301 redirects to triplea-game.org and forums.triplea-game.org
I believe there's nothing more to do than to wait for the google bots to detect the 301 redirection

[2017-12-01 09:05] #128 closed

[2017-12-01 18:53] RoiEXLab commented on #128
Using a free proxy and googling for just "triplea" makes it appear as the first search engine result 🎉
The same for "triplea forum" with the forum.
Seems like we did it

[2017-12-03 22:25] RoiEXLab commented on #128
Just for the record: I added a google verification file for triplea-game.org to initiate a site migration at google in commit https://github.com/triplea-game/triplea-game.github.io/commit/a85fb72e9bf5ba4d01ca6b5f7ce6fc0464dac3db
triplea.sourceforge.net should now vanish pretty quickly from the search results

[2017-12-13 15:32] RoiEXLab opened #274 "Use updated CSS validator"
Note to myself to update the .travis.yml to use the latest version of the css validator
They finally implemented https://github.com/w3c/css-validator/issues/76 which allows us to drop some of the dirty bodged code in this file.

[2017-12-18 22:57] #274 closed

[2018-01-05 01:14] RoiEXLab opened #280 "Use Travis cache for tool building"
Just a thought:
We could use Travis caches to speedup builds so we no longer have to build tools like css-validator from source.
Haven't thought of an exact implementation yet.
Thoughts @ssoloff

[2018-01-05 01:32] ssoloff commented on #280
In the [most recent build](https://travis-ci.org/triplea-game/triplea-game.github.io/builds/323539640), the total build time was 2:08, and the _.travis/install_from_source_ script took 0:31 of the total.  However, two minutes isn't really that long, especially for a project that only had seven pushes to `master` in the last 30 days.  I mean, a 25% reduction in build time would be great, but an abs

[2018-01-05 01:39] RoiEXLab commented on #280
I'll try to test this tomorrow and see how it works out.
If it's adding too much complexity to the yaml file resulting in too few improvement, then it's probably not worth it.

[2018-01-27 06:53] DanVanAtta opened #290 "Clean up left over images"
We've some images left over after removing some content: https://github.com/triplea-game/triplea-game.github.io/pull/285

[2018-01-27 06:54] #290 closed

[2018-02-05 10:07] panther2 opened #295 "Forum (Website) elements are hard to identify"
There must have been some changes recently leading to some elements of the forum (website) being hard to identify (Chrome and Opera):

![traws](https://user-images.githubusercontent.com/20812775/35798979-a1e77260-0a64-11e8-88b6-660e3aae473f.PNG)

Also the text sometime is really small and hard to read:

![traws2](https://user-images.githubusercontent.com/20812775/35799406-dd06680a-0a65-11e8-8faf-7

[2018-02-05 13:04] prastle commented on #295
Edge and Firefox seem to be working fine.  Just for info.

[2018-02-05 13:28] RoiEXLab commented on #295
Ahhh.
I know what's going on...
See https://github.com/NodeBB/NodeBB/issues/6306
Just set your skin back to the default one to temporarily work around this issue.
So it's not our fault

[2018-02-05 13:28] #295 closed

[2018-02-05 14:16] panther2 commented on #295
Thank you so far.

[2018-02-05 15:20] RoiEXLab commented on #295
@panther2 NodeBB just released a patch.
This patch has been applied, and everything should be working fine again.

[2018-02-05 15:37] panther2 commented on #295
Indeed, confirmed! Thanks.

[2018-03-08 15:07] RoiEXLab commented on #167
HTTPS seems to be available now for custom domains, `https://triplea-game.org` is a valid URL now.
Now the question is if we should enforce it, I'd strongly vote for it!

[2018-03-08 16:30] ssoloff commented on #167
Yeah, if you've been following isaacs/github#156, you'll note they seem to have been rolling it out slowly for the past few weeks, but I don't think GitHub has made any official announcement yet.  We should probably wait until that happens before we commit to it just in case there's some hidden string attached.

[2018-03-11 19:29] DanVanAtta commented on #167
my 2 cents, let's wait. Https for website does not present very much benefit.

[2018-05-01 22:34] RoiEXLab commented on #167
https://blog.github.com/2018-05-01-github-pages-custom-domains-https/

It's official!
I don't think we need any further configuration. I changed the DNS to a simple CNAME record (instead of A) a couple of months ago.

@DanVanAtta Enforcing HTTPs should (at least in my understanding) redirect any HTTP traffic to HTTPs.

[2018-05-09 18:01] RoiEXLab commented on #167
@DanVanAtta @ron-murhammer @ssoloff If there aren't any objections, I'll just enforce HTTPs on friday to enhance the SEO even further

[2018-05-11 04:53] DanVanAtta commented on #167
No objections here. I think you are clear to proceed at a time convenient to you @RoiEXLab.

[2018-05-13 20:53] RoiEXLab commented on #167
I just checked the checkbox to enforce https, I'm still having some trouble to migrate the google search console tools to https, but I'll probably just modify some of the google html files if the DNS method doesn't work

[2018-05-13 20:53] #167 closed

[2018-08-30 02:31] ssoloff opened #304 "Build broken"
https://travis-ci.org/triplea-game/triplea-game.github.io/builds/422280368

[code]

[2018-08-30 06:16] RoiEXLab commented on #304
Looks like a temporary outage of https://java.com/en/download/help/linux_install.xml
Restarting the build should do the trick already

[2018-08-30 06:27] RoiEXLab commented on #304
Actually there seems to be a different error now.
For some reason maven fails to get https://repo1.maven.org/maven2/org/w3c/jigsaw/jigsaw/2.2.6/jigsaw-2.2.6.jar definitely weird

[2019-08-30 19:46] DanVanAtta opened #323 "Remove google tracking"
I don't think we're actively using any of google's SEO tools. Let's work to remove google analytics and google tracking. I'd be curious if we are getting benefit from the tracking/analytics, otherwise this is a discussion and tracking ticket for the removal.

[2019-08-30 19:51] RoiEXLab commented on #323
I'm fine with removing Google analytics, we might want to keep the country data around in case we ever want to check if we want to target a specific region for bot servers or something in the future

[2019-08-30 19:52] DanVanAtta commented on #323
Cool, I noticed the google file and always my adblocker catching trackers on the forums and website. I thought it was kinda odd, TBH I don't think I even have the analytics login anymore.

@RoiEXLab is this something you can add to your backlog?

[2019-08-30 19:53] RoiEXLab commented on #323
Note that AFAIK Google search console isn't affected by this at all.
It just tracks how many people actually klick on the Google search results and was super helpful when merging old forum and website to get the high seo rank

[2019-08-30 19:55] RoiEXLab commented on #323
I should be able to do that during the weekend 👍
I'll see if there's some sort of export feature and keep the data we have so far, and disable any future tracking afterwards.
Even if this affects seo in some shady way, we should be at a point where our seo is high enough

[2019-08-30 23:32] RoiEXLab commented on #323
@DanVanAtta Just noticed that we actually don't use google analytics at all for triplea-game.org, just the SEO monitoring, my ad-blocker doesn't show any blocked trackers either except for the facebook link in the lower right corner.

Also I'm pretty sure we don't need the verification file anymore, the DNS entry has a proper verification token. If you give me your Gmail, I can add you to the list

[2019-08-30 23:35] RoiEXLab commented on #323
And I can export all the information to a google spreadsheet document which is nice, so I can share it with y'all

[2019-08-30 23:40] RoiEXLab commented on #323
Checking the actual tracked information, it's actually not that much.
Noteworthy:
Geographics details
Page visit flow, i.e. tells which pages are browsed first when opening the forum

[2019-08-31 00:18] DanVanAtta commented on #323
Ah, thanks for that background. Sounds like we can remove all the google stuff?

[2019-08-31 00:20] RoiEXLab commented on #323
In this repository? Yes!

[2019-08-31 00:21] DanVanAtta commented on #323
forums too? That was where my ad-blocker was complaining. Is the info really valuable there?
I certainly had an opinion shift over the last few months and supporting google's ad business on TripleA's back seems wrong unless it's really useful to us.

[2019-08-31 00:23] RoiEXLab commented on #323
Yes, but there it's more or less just a configuration thing, no custom code.

I'll export all the existing information to a spreadsheet and we can then decide what's actually useful, and delete the rest

[2019-08-31 00:23] RoiEXLab commented on #323
But not today, I'll do that tomorrow, it's getting late

[2019-08-31 00:24] DanVanAtta commented on #323
No  rush, sounds good and thank you!

[2019-08-31 15:18] RoiEXLab commented on #323
@DanVanAtta Removed google analytics, and exported all the data I could get my hands on to google spreadsheets. Of course the analytics site has a better way to represent the data, and probably knows a lot more than it really shows, so the data isn't really much.

I believe there are only really 3 relevant datasets:
User languages
User country
User platform (amount of mobile users, mac users, etc.

[2019-08-31 15:24] RoiEXLab commented on #323
I haven't actually merged the data into a single document, thus why I shared so many documents with you.

I mean if @prastle or some mod feels like they can analyse the data and present the results in some meaningful way, they can have all of the spreadsheets.
This is also another screenshot I made because this couldn't be exported:
![Data flow](https://user-images.githubusercontent.com/8350879/64

[2019-08-31 15:27] RoiEXLab commented on #323
I opened #324 to remove the google seo file, which is no longer used.
But apart from that this ticket should be done

[2019-08-31 15:27] #323 closed

[2019-08-31 15:28] prastle commented on #323
@RoiExLab
Giggles Ya its "German to me "  Explain what you need me to look at or up load it to google drive in English and and pm me the link on the forum.

[2019-08-31 15:30] RoiEXLab commented on #323
@prastle If you PM me your gmail over the forum or something I can add you to the list of editors of the spreadsheet, it's the easiest way to share the documents, there are like 20 with like 5 rows 10 columns each

[2019-08-31 15:31] prastle commented on #323
PMing

[2019-09-20 19:14] DanVanAtta opened #326 "Fix external link"
Task, restore this link: https://triplea-game.org/help/
It should probably be a redirect to the new location.

Linked from: https://itsfoss.com/triplea-game-review/ (a really great review of our game!)

[2020-02-09 02:15] #326 closed

[2020-05-14 04:56] tvleavitt opened #339 "Install jekyll-seo-tag plugin"
This looks like an interesting extension. What do people think?

A Jekyll plugin to add metadata tags for search engines and social networks to better index and display your site's content.
https://github.com/jekyll/jekyll-seo-tag

I could make the necessary modifications in my branch as a PR, and add any additional configuration changes as a subsequent PR.

[2020-05-14 07:50] RoiEXLab commented on #339
I mean our seo score seems to be pretty decent, but we could give it a shot

[2020-05-15 05:18] DanVanAtta commented on #339
It might be worth letting reviewers test any gem dependency in case we run into any kind of Ruby dependency problems (*cough* hell).  With that said, boosting SEO is very valuable, I'm quite in favor.

[2020-05-16 22:11] tvleavitt opened #341 "Sitemap out of date"
The contents of sitemap.txt do not reflect the web site's current structure, and in fact point to non-existent pages:

http://triplea-game.github.io/
http://triplea-game.github.io/about/
http://triplea-game.github.io/contribute/
http://triplea-game.github.io/maps/
http://triplea-game.github.io/community/

I think the contents should be...

http://triplea-game.github.io/
http://triplea-game.github.

[2020-05-16 22:19] tvleavitt opened #342 "Web site lacks robots.txt"
The lack of a robots.txt file means that our sitemap.txt (or, perhaps, .xml) file is not being read by search engines that support this extension to the standard:

https://www.woorank.com/en/blog/how-to-locate-a-sitemap-in-a-robots-txt-file

I suggest we create a simple robots.txt file along these lines:

Sitemap: http://triplea-game.org/sitemap.[txt|xml, depending on what we do]
User-agent: *
All

[2020-05-16 22:20] tvleavitt opened #343 "Create xml version of sitemap.txt"
We may wish to consider generating our sitemap automatically, and using the XML format specified below to ensure maximum SEO effectiveness:

https://www.sitemaps.org/protocol.html

[2020-05-16 22:22] tvleavitt opened #344 "old_downloads.html should be updated prior to 2.0 release"
Currently, this refers to 1.8.0.9; it should probably be updated to reference 1.9.0.0.13066 prior to the release of 2.0, and possibly the reference to 1.8.0.9 should be deleted.

https://triplea-game.org/old_downloads/

[2020-05-16 22:24] tvleavitt opened #345 "/upgrade_notes not linked, soon to be out of date"
I don't believe that

https://triplea-game.org/upgrade_notes/

is linked to anywhere on the site.

We should either update for 2.0 release and link to it from elsewhere on the site or delete it.

[2020-05-16 22:26] tvleavitt opened #346 "/user-guide/first-turn-walkthrough needs review prior to 2.0 release"
Verbiage, and specifically screenshots included in this document should be reviewed for congruence with 2.0.

https://triplea-game.org/user-guide/first-turn-walkthrough

[2020-05-16 22:29] tvleavitt opened #347 "Rule Book PDF & HTML need review / update"
Both immediately (see embedded links to sourceforge.net) below, and prior to the release of 2.0 (screenshots, verbiage/instructions, etc.).

[code]

Also credits at end are out of date:

[code]

[2020-05-16 22:32] tvleavitt opened #348 "Link rel meta tag in site html refers to http://localhost:4000/"
The following meta tag is embedded in the site content:
<link rel="canonical" href="http://localhost:4000/">

Based on the information below, I believe this is invalid:

The Canonical meta tag is actually a link element. By adding it you define which URL is the original URL of a page. If you have a page with both a mobile and a desktop version, Google sees these as duplicate versions of the same p

[2020-05-16 23:12] DanVanAtta commented on #346
The manual was out of date when 1.9 was released. We can also update it roughly anytime, there should not be a 2.0 dependency. Also 2.0 will continue to have more releases to it perhaps weekly/monthly (it's not going to be the latest for 18 months like 1.9.0.0.13066 was). Considering the document is already live as well, this is a current problem.

[2020-05-16 23:14] DanVanAtta commented on #344
The page is missing the other 1.9 downloads, it's out of date and should include a history of other releases. The website has not been given the love it should.

[2020-05-16 23:56] tvleavitt commented on #346
Honestly, my opinion is that either content is current and accurate, or it
goes away... or at least prominent disclaimers about details being out of
date are included. It looks bad. All content should have an assigned
"owner", if no one is willing to take responsibility for updating it, it
should be taken down as soon as it goes out of date.

Thomas Leavitt

On Sat, May 16, 2020, 4:13 PM Dan Van A

[2020-05-17 01:49] DanVanAtta commented on #346
I do not necessarily disagree. There have been a lot of problems with documentation. Notably we have never really had a centralized location for it, duplicative documentation written by individuals and then never maintained. We still have a lot of content to bring in from the forums to the website. More attention would be welcome and could be payed to any documentation on the website (and more con

[2020-06-18 01:20] DanVanAtta opened #350 "Release notes table does not have borders"
Release notes table is not as easy to read as it could be. Needs borders: https://triplea-game.org/release_notes/

[2020-06-18 01:20] DanVanAtta opened #351 "Grey background is just the first screen"
Scroll down on any page that is longer than one screen, notice the background changes from grey to white.

![Screenshot from 2020-06-17 18-20-13](https://user-images.githubusercontent.com/12397753/84966804-46248380-b0c7-11ea-8600-5a834af0d9ba.png)

[2020-06-18 07:51] RoiEXLab commented on #350
@DanVanAtta IIRC I pasted some CSS somewhere around the "fix connectivity check" PRs that might be able to fix this problem.
There were 2 variants, one requiring to use html directly

[2020-06-18 07:53] RoiEXLab commented on #351
Which browser are you using?
Looking fine for me

[2020-12-24 22:16] Cernelius opened #364 "Outdated Release Status (2020/12/24)"
In the
https://triplea-game.org/map/over-the-top/
maps page, I can see:

I believe it is a long time since 1.9.0.0.6322 hasn't been a pre-release if it ever was a release.

I believe this is a general problem.

[2020-12-25 02:28] DanVanAtta commented on #364
This is fixed by: https://github.com/triplea-game/triplea-game.github.io/pull/365

[2020-12-25 02:28] #364 closed

[2020-12-25 02:28] DanVanAtta commented on #350
This has been done

[2020-12-25 02:28] #350 closed

[2020-12-25 02:35] DanVanAtta commented on #344
https://triplea-game.org/release_notes/ has links to the older releases, meanwhile the 'old_downloads' page is getting out of date. I'm thinking we ought to simply delete the old_downloads page. It is a bit odd for release_notes to be both pages, but it is actively maintained at least and comprehensive.

[2020-12-25 02:36] DanVanAtta commented on #344
https://github.com/triplea-game/triplea-game.github.io/pull/366 removes the old_downloads.html page

[2022-03-31 01:00] DanVanAtta commented on #351
No longer seeing this..

[2022-03-31 01:35] DanVanAtta commented on #339
@tvleavitt , I took a stab at this with this branch: https://github.com/triplea-game/triplea-game.github.io/tree/jekyll-seo-tag
I was not able to see any differences in the meta tags. I'm curious if you'd like to pick this task up or could give any pointers.

[2022-03-31 01:58] RoiEXLab commented on #348
@DanVanAtta well the tag is defined here:
https://github.com/triplea-game/triplea-game.github.io/blob/69e6873a79c8a9604c72c59a9776fa5422fe4cde/_includes/head.html#L10

Because Jekyll listens on localhost:4000 by default that's the value that is inserted there

[2022-03-31 02:01] tvleavitt commented on #339
I'll see if I can find the cycles to look at this over the next few days.

[2022-03-31 02:27] DanVanAtta commented on #348
We could just remove it?

On Wed, Mar 30, 2022, 6:59 PM RoiEX ***@***.***> wrote:

[2022-03-31 02:34] RoiEXLab commented on #348
Well it's meta information, so yes.
I assume it was originally inserted by some template or in order to improve SEO, not sure if it helps with the latter

[2022-03-31 19:52] #345 closed

[2022-10-10 03:24] DanVanAtta commented on #347
@Kwill3 The re-formatting of the guide I don't think was ever completed. It could use some better markdown/html formatting overall. Feel free to go to town!

I think the 'credits' portion would take some work to trace the history. It's interesting history, but maybe this is not the right place for it. It might be better to strike the section entirely.

[2022-10-16 00:56] NathanNOSudo opened #379 "Increase readability of list items in footer."
I have a suggestion to improve the site's readability. Currently the list items in the footer are pretty compacted on top of each other, adding padding or margin will increase the footer height but adding 1.3 to 1.5 em line-height to your main.css for ul > li tags substantially increase the clarity of each item as well as readability. I have Included a before screenshot and an after screenshot. If

[2022-10-23 00:00] RoiEXLab commented on #379
@NathanNOSudo Seems like a good suggestion. Feel free to open a PR 👍🏼

[2022-10-23 02:50] DanVanAtta commented on #379
Agree, that helps legibility.

We should consider as well (as a follow-up) whether we want all of the video links. Some of them are pretty out of date and perhaps not even worth linking at this point.

[2022-10-25 23:07] NathanNOSudo commented on #379
Will do! Sorry for the delay, I have been on vacation.

[2022-11-18 05:17] Esme6969 commented on #347
have no clue  of how to manage this

[2022-11-28 20:19] RoiEXLab commented on #347
@Esme6969 What exactly do you need help with? The Rulebook in question can be found here: https://github.com/triplea-game/triplea-game.github.io/blob/master/user-guide/rule-book/rule-book.md
If you want to propose any changes to it feel free to create a PullRequest for it